@font-face {
    font-family: "proximanova";
    src: url("/font/ProximaNova-Regular_2607783814.otf");
}

body {
    margin: 0 auto;
    font-family: proximanova,Arial;

    /*overflow-x: hidden;*/
    width: 100%;
}

/*todo er moet een grid komen vanaf pronkegevel want de makelaars adverientie zit op desktop rechts en dat moet zodat de gebruiker snel ziet */
/*todo er moeten bij desktop nog 2 foto's*/
header{
    background-color: orange;
    position: relative;
    /*max-width: 100%;*/
}
.log-funda{
    width: 150px;
}
.menu{
    display: flex;
    justify-content: space-between;
}

.menu-ul{
    display: none;
    /* todo   translate toevoegen dat die van boven naar beneden gaat de interactie*/
}
.menu-ul-open{
    display: block;
}
.main-picture{
    width: 320px;
}
.images-next-to-main-images{
    display: none;
    /*width: 150px;*/
}
.small-images-carousel{
    width: 100px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}
