@font-face {
    font-family: "proximanova";
    src: url("/font/ProximaNova-Regular_2607783814.otf");
}

body {
    display: flex;
    flex-direction: column;
    font-family: proximanova, Arial;
    padding-inline: 2em;
    margin: 0 auto
;
}

/*todo er moet een grid komen vanaf pronkegevel want de makelaars adverientie zit op desktop rechts en dat moet zodat de gebruiker snel ziet */
.menu {
    background-color: orange;
    min-width: 30em;
}

.menu-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {

}


.main-images { /*scrollbar dit opzoeken css chalenge flexbox*/

}

.multiple-images {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.multiple-images__images-ul {
    display: flex;
    flex-direction: row;
}

.list-images {
    display: flex;
    flex-direction: column;
}

.images-houses {
    display: flex;
    flex-shrink: 4;
}

.full-description {
    text-decoration: none;
    /*color: #45b5e7;*/

}
button:hover{
    background-color: orange;
}
a{
    color: #050542;
}
.hide-description {
    display: none;
}

dd {
    position: relative;
    top: -1.2em;
    left: 10em;
}
.add-my-home{
    background-color: #3b9cda;
    height: 13em;
    /*width: 25em;*/
}

.in-de-buurt {
    display: flex;
    flex-direction: column;
}
@media (min-width: 1em) and (max-width: 30em) {
    .image-change {
        width: 200px;
    }
    .menu {
        background-color: orange;
        /*width: 50em;*/
        display: flex;
        flex-direction: row;
    }

    .menu-ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 30em;
    }
}

@media (min-width: 30em) and (max-width: 52em) {
    .image-change {
        min-width: 500px;
        max-width: 800px;
    }
    .menu-ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /*margin: 0 1em 0 0;*/
        width:25em;
    }
}
@media (min-width: 52em)  {
    .image-change {
        width: 600px;
    }
    .menu-ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width:25em;
    }

}
@media (min-width: 80em)  {
    .image-change {
        width: 600px;
    }
    .menu-ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width:25em;
    }
}