@font-face {
    font-family: "proximanova";
    src: url("/font/ProximaNova-Regular_2607783814.otf");
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: proximanova, sans-serif;
    width: 100%;
}

* {
    box-sizing: border-box;
}

/*https://brand.funda.nl/d/d9gw4zTPqYFU/brand-guide?#/basics-1/kleur*/
/*general*/
:root {
    --blue: #0042B3; /*huisstijl #0071B3 orgineel*/
    --white: #ffffff;
    --orange: #F7A100;
    --black: #333333
}

.carousel-images__no-dot {
    list-style-type: none;
    margin-left: 1em;
}

.general-link {
    text-decoration: none;
    color: var(--blue);
}

header {
    background-color: orange;
    position: relative;
    color: #1A1A1A;
    /*max-width: 100%;*/
    width: 100%;
}

main {

    margin: 0 2em 0 2em;
}

.log-funda {
    width: 150px;
}

.menu {
    display: flex;
    /*justify-content: space-between;*/
    width: 100%;
}

.hamburger-icon {
    position: relative;
    left: 2em;
    top: -1em;
    background-color: var(--white);
}

.hamburger-icon:hover {
    background-color: var(--blue);
}

.menu-link {
    color: #1A1A1A;
    text-decoration: none;
}

.menu-ul-open {
    display: block;
    margin-top: 0;
}

.main-picture {
    width: 280px;
}

.gridcontainer__small-images_carousel-images {
    display: none;
    width: 150px;
}

.small-images-carousel {
    width: 100px;
}

.carousel-images {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*width: 20em;*/
}


button:hover {
    background-color: #185477;
    color: var(--white);
}

button:active {
    background-color: #D8B1D8;
    color: #000000;
}

.buttons-navigation-text {
    /*font-size: 1em;*/
    text-decoration: none;
}

.buttons-navigation-style, .full-description, .button-show-charactize { /*4 buttons to next describe*/
    font-size: 1em;
    background-color: var(--white);
    border: 0;
    line-height: 2;
    color: var(--blue);
    border-radius: 5em;
}

.general-link:hover {
    text-decoration: underline;
}

input:active {
    background-color: #adf7ff;
}

.contact-broker {
    font-size: 1.2em;
}

.hide-description, .hide-characterize {
    display: none;
}

.search-button, .checkvalue, .send-email {
    font-size: 1em;
    background-color: #F8B73E;
    border-radius: 20px;

    border: 0;
    line-height: 2;
    color: #333333;
}

#kenmerk {
    font-size: 1em;
}

.open-description, .open-characterize {
    display: block;
}

dt {
    border-top: 2px solid #dadada;
    /*width: 35em;*/

}

dd {
    border-left: 2px solid #dadada;
    margin: -2em 0 0 10em;

    padding: 1em;
}

.add-home__text-value-home {
    margin-bottom: 2em;
}

.input-field-address {
    display: grid;
    grid-auto-rows: auto auto auto;
    grid-template-columns:  5em 5em 5em;
    column-gap: 1em;
}

.label-inputfield-postcode {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    margin: 0 0 1em 0;
}

.input-field-postcode {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    margin: 0 0 1em 0;
}

.label-inputfield-number {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    margin: 0 0 1em 0;
}

.input-field-number {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    margin: 0 0 1em 0;
}

.label-inputfield-ad {
    display: grid;
    grid-column: 3;
    grid-row: 1;
    margin: 0 0 1em 0;
}

.input-field-add {
    display: grid;
    grid-column: 3;
    grid-row: 2;
    margin: 0 0 1em 0;
}

.activity__text {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

table {
    border: solid #050542;
}

th {
    border: 0.15em solid;
    font-size: 1em;
    line-height: 1.5;
    padding: 0.5em 0.5em 0.5em 0.5em;


}

/*dit zijn de celblockej*/
td, tr {
    background-color: var(--white);
    border: 0.15em solid;
    font-size: 1em;
    line-height: 1.5;
    /*margin: var(--margin-1em);*/
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.broker-add {
    display: grid;
}

.send-email, .checkvalue, .full-description, .button-show-charactize {
    width: 15em;
}

.images-broker, .image-change {
    width: 280px;
}

.hide-telehponenumber {
    display: none;
}

.open-telephonenumber {
    display: block;
}

.commercial-add {
    /*background-color: orange;*/
    /*height: 20em;*/
    /*width: 10em;*/

}

@media (max-width: 579px) {
    .menu-ul {
        display: block;
        /* todo   translate toevoegen dat die van boven naar beneden gaat de interactie*/
        margin-top: -15em;
    }

    .menu-ul-open {
        display: block;
        margin: 0 0 0 0;
    }

    h2 {
        border-bottom: 1px solid black; /* This adds a 2px solid black border under your h2 elements */
        /*border-width: 5em;*/
    }


}

/* and (max-width: 768px)*/
@media (min-width: 580px) {
    main {
        display: grid;
        align-content: center;
    }

    .hamburger-icon {
        display: none;
    }

    header {
        height: 5em;
    }

    .menu {
        display: flex;
        flex-direction: row;
        translate: 0 -4em;
        justify-content: flex-end;
        /*!*margin: 0 5em 0em 10em;*!*/
        /*position: relative;*/
        /*top: -4.5em;*/
        /*left: 8em;*/
        /*height: 0;*/
    }

    .menu-ul {
        display: flex;
        flex-direction: row;
        /*display: flex;*/
        /*flex-direction: row;*/
        /*align-items: center;*/
    }

    .menu__li {
        margin: 1em;
    }

    .main-picture {
        width: 500px;
        /*width: 100%;*/
        /*height: 100%;*/
        /*object-fit: cover;*/
    }

    .small-images-carousel {
        display: none;
    }

    .carousel-images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 30em;
    }

    h2 {
        border-bottom: 1px solid black; /* This adds a 2px solid black border under your h2 elements */
        /*border-width: 5em;*/
    }
    dt {
        border-top: 2px solid #dadada;
        width: 35em;

    }


}
/*and (max-width: 992px)*/
/*@media (min-width: 768px)  {*/
/*    main {*/
/*        display: grid;*/
/*        align-content: center;*/
/*    }*/

/*    .hamburger-icon {*/
/*        display: none;*/
/*    }*/

/*    header {*/
/*        height: 5em;*/
/*    }*/

/*    .menu {*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        translate: 0 -4em;*/
/*        justify-content: flex-end;*/
/*        !*!*margin: 0 5em 0em 10em;*!*!*/
/*        !*position: relative;*!*/
/*        !*top: -4.5em;*!*/
/*        !*left: 8em;*!*/
/*        !*height: 0;*!*/
/*    }*/

/*    .menu-ul {*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        !*display: flex;*!*/
/*        !*flex-direction: row;*!*/
/*        !*align-items: center;*!*/
/*    }*/

/*    .menu__li {*/
/*        margin: 1em;*/
/*    }*/

/*    .main-picture {*/
/*        width: 680px;*/
/*        !*width: 100%;*!*/
/*        !*height: 100%;*!*/
/*        !*object-fit: scale-down;*!*/
/*    }*/

/*    .carousel-images {*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        justify-content: space-between;*/
/*        max-width: 30em;*/
/*    }*/

/*    h2 {*/
/*        border-bottom: 1px solid black; !* This adds a 2px solid black border under your h2 elements *!*/
/*        !*border-width: 5em;*!*/
/*    }*/

/*    .small-images-carousel {*/
/*        display: none;*/
/*    }*/


/*}*/

@media (min-width: 992px)  {
    main {
        position: absolute;
        left: calc(54% - 50px);
        transform: translate(-50%, 0%);


    }

    /*.hamburger-icon {*/
    /*    display: none;*/
    /*}*/

    /*header {*/
    /*    height: 5em;*/
    /*}*/

    /*.menu {*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    translate: 0 -4em;*/
    /*    justify-content: flex-end;*/

    /*}*/

    /*.menu-ul {*/
    /*    display: flex;*/
    /*    flex-direction: row;*/

    /*}*/

    /*.menu__li {*/
    /*    margin: 1em;*/
    /*}*/

    /*.main-picture {*/
    /*    width: 544px;*/
    /*    !*width: 100%;*!*/
    /*    !*height: 100%;*!*/
    /*    !*object-fit: scale-down;*!*/
    /*}*/

    /*.carousel-images {*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    justify-content: space-between;*/
    /*    max-width: 30em;*/
    /*}*/

    /*.small-images-carousel {*/
    /*    display: none;*/
    /*}*/




    .images-grid-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto;
    }

    .gridcontainer__small-images {
        display: grid;
        grid-template-columns: 10em 10em;
        grid-template-rows: auto auto auto;
        margin-right: 5em;
    }
    .gridcontainer__small-images_carousel-images {
        display: block;
    }



    .images-houses-dining-room {
        grid-row: 1;
        grid-column: 1;
    }

    .images-houses-2 {
        grid-row: 2;
        grid-column: 2;
    }

    .livingroom {
        grid-row: 3;
        grid-column: 3;
    }

    .images-houses-garden {

    }

    .images-houses-video {

    }

    .images-houses-stairs {

    }

    /*h2 {*/
    /*    border-bottom: 1px solid black; !* This adds a 2px solid black border under your h2 elements *!*/
    /*    !*border-width: 5em;*!*/
    /*    width: 100%;*/
    /*}*/

    /*.general-information-page {*/
    /*    margin-top: -8em;*/
    /*}*/

    /*.general-information-page {*/
    /*    display: grid;*/
    /*    grid-template-columns: 58% 1fr;*/
    /*    grid-template-rows: 11em;*/

    /*}*/
    .grid-broker-price {
        display: grid;
        grid-template-columns: 55% 1fr;
        grid-template-rows: 11em;



    }

    .images-broker {
        width: 400px;
    }

    .broker-add {
        display: grid;
        grid-column: 2;
        /*margin-inline-end: 1em;*/
        /*margin-left: 60%; !* Adjust this to move the .broker-add section more to the right *!*/
    }

    /*.contact-broker {*/
    /*    display: none;*/
    /*}*/


    /*.gridconainer__info-grid {*/
    /*    display: block;*/
    /*}*/

}
@media (min-width: 1300px){
    main {
        position: absolute;
        left: calc(55% - 50px);
        transform: translate(-50%, 0%);

        /*width: calc(100% - 30px);*/
        padding: 0 6em 0 6em;

    }
    .main-picture{
        width: 800px;
        object-fit: cover;
    }
}